/*-------------------------------------------------main body--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: century Gothic;
}
body {
  background-image: url(back3.jpg);
  background-attachment: fixed;
}
.main-body {
  color: blanchedalmond;
  margin-top: 200px;
}
.intro {
  margin-top: 60px;
  text-align: center;
  font-size: xx-large;
}
.slider {
  margin-top: 80px;
  position: relative;
}
h1,
h2,
h3 {
  color: aliceblue;
}
.slider .next {
  position: absolute;
  font-size: xx-large;
  right: 10px;
  color: aliceblue;
  cursor: pointer;
  transition: 0.5s;
}
.slider .next:hover {
  transition: 0.5s;
  color: rgb(49, 177, 228);
}
.slider .prev {
  font-size: xx-large;
  color: aliceblue;
  left: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.slider .prev:hover {
  transition: 0.5s;
  color: rgb(44, 189, 247);
}
.slider .title {
  margin-top: 40px;
  border: 1px solid white;
  text-align: center;
  margin: auto;
}
.slider .img-slider {
  width: 99%;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
}
.slider .img-slider .post {
  width: 100%;
  height: 300px;
  margin: 0px 10px;
  display: inline-block;
}
.slider .img-slider .post .slider-image {
  width: 100%;
  height: 450px auto;
}
/*----------------------------------------------End of main body--------------------------------------------*/
